.features__container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border);
    border-radius: 24px;
    padding: 24px;
    align-items: center;
}

.features__features {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gap);
}

.feature__icon {
    width: 108px;
    height: auto;
}

.feature__title {
    color: var(--color-text-main);
    display: flex;
    align-items: center;
}

.feature__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.features__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__divider {
    display: none;
}

@media (min-width: 1024px) {
    .features {
       border-bottom: none;
    }


    .features__title-main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .features__features {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .feature {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature__divider {
        display: inline;
        width: 2px;
        background-color: var(--color-border);
    }
    
    .feature__description {
        text-align: center;
    }

    .feature__name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features__name {
        display: flex;
        gap: 12px;
    }
}